<div class="row product-list">
  <hr>
  <aside class="col-md-2">
    <%= render "shared/search_form" %>
  </aside>
  <div class="col-md-10">
    <% if @products.any? %>
      <%= render @products %>
      <%= will_paginate %>
    <% else %>
      <p class="text-info"><%= t "info.no_product" %></p>
    <% end %>
  </div>
</div>
